<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Sitecore Feed" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="Nuget Feed" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>