<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="PipelineDebug.Pipelines.Initialize.RegisterRoutes, PipelineDebug" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>

      <!-- pipeline is not actually called, this is used in order to make the debug processors when inserted -->
      <pipelineDebug>
        <processor type="PipelineDebug.Pipelines.PipelineDebug.DebugProcessor, PipelineDebug" />
      </pipelineDebug>
	  
	  <owin.cookieAuthentication.validateIdentity>
		<processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication" patch:source="Unicorn.UI.IdentityServer.config">
		  <siteNeutralPaths hint="list">
		    <path name="pipelinedebug">/pipelinedebug/</path>
		  </siteNeutralPaths>
		</processor>
	  </owin.cookieAuthentication.validateIdentity>
    </pipelines>

    <services>
      <register serviceType="PipelineDebug.Pipelines.IPipelineService, PipelineDebug" implementationType="PipelineDebug.Pipelines.PipelineService, PipelineDebug" lifetime="Singleton" />
      <register serviceType="PipelineDebug.Reflection.IReflectionServiceFactory, PipelineDebug" implementationType="PipelineDebug.Reflection.ReflectionServiceFactory, PipelineDebug" lifetime="Singleton" />
      <register serviceType="PipelineDebug.Output.IOutputService, PipelineDebug" implementationType="PipelineDebug.Output.OutputService, PipelineDebug" lifetime="Singleton" />
      <register serviceType="PipelineDebug.Discovery.IDiscoveryService, PipelineDebug" implementationType="PipelineDebug.Discovery.DiscoveryService, PipelineDebug" lifetime="Singleton" />
      <register serviceType="PipelineDebug.Settings.ISettingsService, PipelineDebug" implementationType="PipelineDebug.Settings.SettingsService, PipelineDebug" lifetime="Singleton" />
    </services>

    <log4net>
      <appender name="PipelineDebugLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/pipelinedebug.{date}.{time}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <logger name="PipelineDebug" additivity="false">
        <level value="INFO" />
        <appender-ref ref="PipelineDebugLogFileAppender" />
      </logger>
    </log4net>

    <settings>
      <setting name="PipelineDebug.Setting.MaxEnumerableIterations" value="100" />
      <setting name="PipelineDebug.Setting.MaxMemoryEntries" value="1000" />
      <setting name="PipelineDebug.Setting.LogToDiagnostics" value="true" />
      <setting name="PipelineDebug.Setting.LogToMemory" value="true" />
      <setting name="PipelineDebug.Setting.ExcludeUrlConstraint" value="\/pipelinedebug\/|pipelinedebug.html" />
      <setting name="PipelineDebug.Setting.DefaultTaxonomies" value="Sitecore.Context.RawUrl|Sitecore.Context.Site.Name" /> 
    </settings>
  </sitecore>
</configuration>